#SITE_HEADERinlineContent {
	height: auto;
	width: 100%;
	position: relative;
}

#SITE_HEADERinlineContent-gridWrapper {
	pointer-events: none;
}

#SITE_HEADERinlineContent-gridContainer {
	position: static;
	display: grid;
	height: auto;
	width: 100%;
	min-height: auto;
	grid-template-rows: 1fr;
	grid-template-columns: 100%;
}

#comp-ihj7y8mj {
	position: relative;
	margin: 6px 0px 6px calc((100% - 980px) * 0.5);
	left: -381px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start;
}

#comp-ihjax7ir {
	position: relative;
	margin: 8px 0px 8px calc((100% - 980px) * 0.5);
	left: 996px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start;
}

#comp-jx7vdy49 {
	position: relative;
	margin: 4px 0px 4px calc((100% - 980px) * 0.5);
	left: -433px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start;
}

#SITE_HEADERcenteredContent {
	position: relative;
}

#SITE_HEADERinlineContent-gridContainer > * {
	pointer-events: initial;
}

#SITE_HEADERinlineContent-gridContainer > [id$="-rotated-wrapper"] {
	pointer-events: none;
}

#SITE_HEADERinlineContent-gridContainer > [id$="-rotated-wrapper"] > * {
	pointer-events: initial;
}

#comp-ihj9z6ye {
	justify-self: end;
	margin-right: 55px;
	align-self: center;
	margin-bottom: 78px;
	position: absolute;
	grid-area: 2 / 1 / 3 / 2;
	pointer-events: initial;
}

#c1dmpinlineContent {
	height: auto;
	width: 100%;
	position: relative;
}

#c1dmpinlineContent-gridWrapper {
	pointer-events: none;
}

#c1dmpinlineContent-gridContainer {
	position: static;
	display: grid;
	height: auto;
	width: 100%;
	min-height: 500px;
	grid-template-rows: min-content min-content min-content min-content min-content min-content min-content 1fr;
	grid-template-columns: 100%;
	padding-bottom: 0px;
	box-sizing: border-box;
}

#comp-ihkhqn4z {
	position: relative;
	margin: 0px 0px 0 calc((100% - 980px) * 0.5);
	left: 0px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start;
}

#comp-ihj99ar5 {
	position: relative;
	margin: 0px 0px 0 calc((100% - 980px) * 0.5);
	left: 0px;
	grid-area: 2 / 1 / 5 / 2;
	justify-self: start;
	align-self: start;
}

#comp-ihj9zfih {
	position: relative;
	margin: 0px 0 43px 0;
	left: 0;
	grid-area: 2 / 1 / 3 / 2;
	justify-self: stretch;
	align-self: start;
}

#comp-j5896ap2 {
	position: relative;
	margin: 0px 0px 10px calc((100% - 980px) * 0.5);
	left: 517px;
	grid-area: 3 / 1 / 4 / 2;
	justify-self: start;
	align-self: start;
}

#comp-ihj9aqpb {
	position: relative;
	margin: 0px 0px 0 calc((100% - 980px) * 0.5);
	left: 0px;
	grid-area: 5 / 1 / 6 / 2;
	justify-self: start;
	align-self: start;
}

#comp-ihj9zu26 {
	position: relative;
	margin: 0px 0 10px 0;
	left: 0;
	grid-area: 5 / 1 / 6 / 2;
	justify-self: stretch;
	align-self: start;
}

#comp-ihk7otno {
	position: relative;
	margin: 0px 0px 0 calc((100% - 980px) * 0.5);
	left: 0px;
	grid-area: 6 / 1 / 7 / 2;
	justify-self: start;
	align-self: start;
}

#comp-ihk7q35a {
	position: relative;
	margin: 0px 0 10px 0;
	left: 0;
	grid-area: 6 / 1 / 7 / 2;
	justify-self: stretch;
	align-self: start;
}

#comp-ihja6oi2 {
	position: relative;
	margin: 0px 0px 0 calc((100% - 980px) * 0.5);
	left: 0px;
	grid-area: 7 / 1 / 8 / 2;
	justify-self: start;
	align-self: start;
}

#comp-ihjapnjz {
	position: relative;
	margin: 0px 0 10px 0;
	left: 0;
	grid-area: 8 / 1 / 9 / 2;
	justify-self: stretch;
	align-self: start;
}

#comp-jagrfrhm {
	position: relative;
	margin: 0px 0px 0 calc((100% - 980px) * 0.5);
	left: 0px;
	grid-area: 8 / 1 / 9 / 2;
	justify-self: start;
	align-self: start;
}

#c1dmpcenteredContent {
	position: relative;
}

#c1dmpinlineContent-gridContainer > * {
	pointer-events: initial;
}

#c1dmpinlineContent-gridContainer > [id$="-rotated-wrapper"] {
	pointer-events: none;
}

#c1dmpinlineContent-gridContainer > [id$="-rotated-wrapper"] > * {
	pointer-events: initial;
}

#mediair65a9sq31inlineContent {
	/*height: auto;*/
	width: 100%;
	position: relative;
}

#mediair65a9sq31inlineContent-gridWrapper {
	pointer-events: none;
}

#mediair65a9sq31inlineContent-gridContainer {
	position: static;
	display: grid;
	height: auto;
	width: 100%;
	min-height: 575px;
	grid-template-rows: min-content 1fr;
	grid-template-columns: 100%;
}

#comp-jx7vcfm4 {
	position: relative;
	margin: 85px 0px 14px calc((100% - 980px) * 0.5);
	left: 337px;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: start;
	align-self: start;
}

#comp-ihkhqn54 {
	position: relative;
	margin: 0px 0px 10px calc((100% - 980px) * 0.5);
	left: 0px;
	grid-area: 2 / 1 / 3 / 2;
	justify-self: start;
	align-self: start;
}

#mediair65a9sq31centeredContent {
	position: relative;
}

#mediair65a9sq31inlineContent-gridContainer > * {
	pointer-events: initial;
}

#mediair65a9sq31inlineContent-gridContainer > [id$="-rotated-wrapper"] {
	pointer-events: none;
}

#mediair65a9sq31inlineContent-gridContainer > [id$="-rotated-wrapper"] > * {
	pointer-events: initial;
}

h1 {
	font-family: 'Overpass', sans-serif;
	font-size: 64px;
	font-weight:700;
	color: white;
}

h3 {
	font-family: 'Overpass', sans-serif;
	font-weight: 300;
	color: #605E5E;
	font-size: 24px;
}

h2 {
	font-family: 'Overpass', sans-serif;
	font-weight: 600;
	font-size: 35px;
}